<div id="app"></div>

<!-- Load Babel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.14.0/babel.min.js"></script>
<!-- Load React.js -->
<script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
<!-- Load Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.min.js"></script>
<!-- Your custom script here -->

<script type="text/javascript">
    <!--
        localStorage.setItem("id", <%= @id %>);
        localStorage.setItem("token", "<%= @token %>");
    -->
</script>
<script src="./js/unfollow_list.jsx" type="text/babel"></script>
<script src="./js/timeline.jsx" type="text/babel"></script>
<script src="./js/main.jsx" type="text/babel"></script>
