<div class="main">
  <h1>TwitterLike</h1>
  <p class="error"><%= @error %></p>
  <form class="login-form" method="POST" action="login">
    <h2>Log in to your account</h2>
    <input type="text" name="name" placeholder="Name"></input>
    <input type="password" name="password" placeholder="Password"></input>
    <input type="submit" value="Log In"></input>
    <a class="signup-link" href="/signup"> 
        New to TwitterLike? &nbsp;
        <span>Sign Up</span>
    </a>
    <form>
</div>
