<div class="main">
  <a class="logo" href="/login"><h1>TwitterLike</h1></a>
  <form class="signup-form" method="POST" action="signup">
    <h2>Sign up for free</h2>
    <input type="text" name="name" placeholder="Name"></input>
    <input type="password" name="password" placeholder="Password"></input>
    <input type="submit" value="CREATE FREE ACOUNT"></input>
    <form>
</div>
