.main {
  text-align: center;
}

.main h1 {
  color: #57367d;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  padding: 40px 30px;
  border: 1px solid #cbcbd2;
  border-radius: 6px;
  background: #eeeeee;
}

.login-form h2 {
  margin: 0 0 20px 0;
  color: #57367d;
  font-size: 22px;
  font-weight: normal;
}

.login-form input {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #3f3f44;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cbcbd2;
  border-radius: 4px;
  margin-top: 20px;
}

.login-form input[type="submit"] {
  font-size: 18px;
  color: #fff;
  background: #79589f;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background: #57367d;
}